@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Merriweather:wght@300&family=Noto+Sans+Tagbanwa&family=Oswald:wght@300&family=Roboto:wght@300&display=swap');


*{
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: #c56060;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
  }
  h1 {
    text-align: center;
    color: #ffffff;
  }
  form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
  }
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  input[type="button"] {
    background-color: rgba(156, 6, 6, 0.856);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type="button"]:hover {
    background-color: #023e8a;
  }
  
  .error-msg {
    color: red;
  }

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .photo-column {
    flex: 1 ;
   
  }
  
  .form-column {
    flex: 1;
  }
  
  img {
    max-width: 65%;
    height: auto;
  }

  .loginForm{
    position: relative;
    background-color: rgba(156, 6, 6, 0.856);
    border: 3px solid #ccc;
    border-radius: 10px;
    max-width: 50%;
    padding: 20px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    margin-top: -15%;
    left: -45%;
}

.activateAccount{
  margin-top: 2%;
  float:left;
  margin-right: 69px;
  
}

.login-Button a:visited{
  color: maroon;  
}
.login-Button a:hover{
  color: blue;  
}

.login-Button a:active{
  color: green;
}

button:hover {
  background-color: #023e8a;
}

button {
  background-color: rgb(165, 10, 10);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.login-Button{
  display:inline-block;
}

footer {
  background-color: rgb(165, 10, 10);
  color: #fff;
  text-align: center;
  padding: 1%;
  bottom: 0;
  width: 100%;
}